# IntelliJ project files
.idea
__pycache__/

# logs
logs/

# backups
backups/

# nohup
nohup.out

# bot persistence file
bot_states.prs

# data folder
/data/

# texts
*.txt
!/requirements

# bot's sessions
*.session